<div class="max-w-4xl mx-auto flex flex-col flex-auto min-w-0">
    <!-- Main -->

    <!-- Filtros -->
    <div class="bg-white rounded overflow-hidden shadow-lg p-8 mb-6">
        <div class="flex space-x-4">
            <!-- Filtro de NOMBRE -->
            <div class="flex-1">
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">Filtro de NOMBRE</div>
                    <div class="mb-4">
                        <input
                            class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500"
                            id="nombre"
                            type="text"
                            placeholder="Ingrese el nombre"
                        />
                    </div>
                </div>
            </div>

            <!-- Filtro de FECHA CREACIÓN -->
            <div class="flex-1">
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">Filtro de FECHA</div>
                    <div class="mb-4">
                        <input
                            class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500"
                            id="fechaCreacion"
                            type="date"
                        />
                    </div>
                </div>
            </div>

            <!-- Filtro de ESTADO -->
            <div class="flex-1">
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">Filtro de ESTADO</div>
                    <div class="mb-4">
                        <select
                            class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500"
                            id="estado"
                        >
                            <option value="">Seleccionar</option>
                            <option value="activo">Activo</option>
                            <option value="inactivo">Inactivo</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex justify-end mt-6 sm:mt-6 pr-6 sm:ml-4">
            <button
                mat-flat-button
                [color]="'primary'"
                class="ml-4"
                (click)="openComposeDialog()"
            >
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2">Nuevo Usuario</span>
            </button>
        </div>
    </div>

    <div
        class="bg-white rounded overflow-hidden shadow-lg flex-auto px-6 sm:px-10"
    >
        <div class="p-6 overflow-scroll px-0">
            <table class="table">
                <thead class="bg-primary text-white">
                    <tr>
                        <th class="table-header">#</th>
                        <th class="table-header">NOMBRE</th>
                        <th class="table-header">EMAIL</th>
                        <th class="table-header">FECHA CREACIÓN</th>
                        <th class="table-header">ESTADO</th>
                        <th class="table-header">ACCIONES</th>
                    </tr>
                </thead>
                <tbody class="bg-white">
                    <tr class="hover:bg-gray-100">
                        <td class="p-4 border-b">1</td>
                        <td class="p-4 border-b">RODOLFO PACCO</td>
                        <td class="p-4 border-b">example?gmail.com</td>
                        <td class="p-4 border-b">2020-12-29 08:13:25</td>
                        <td class="p-4 border-b">
                            <div class="w-max">
                                <div
                                    class="relative grid items-center font-bold uppercase whitespace-nowrap select-none bg-green-500/20 text-green-600 py-1 px-2 text-xs rounded-md"
                                >
                                    <span class="">ACTIVO</span>
                                </div>
                            </div>
                        </td>
                        <td class="p-4 border-b">
                            <div class="flex space-x-3">
                                <mat-slide-toggle
                                    [formControlName]="'active'"
                                    [color]="'primary'"
                                ></mat-slide-toggle>
                                <mat-icon>swap_horiz</mat-icon>
                            </div>
                        </td>
                    </tr>
                    <tr class="hover:bg-gray-100">
                        <td class="p-4 border-b">2</td>
                        <td class="p-4 border-b">RODOLFO PACCO</td>
                        <td class="p-4 border-b">example?gmail.com</td>
                        <td class="p-4 border-b">2020-12-29 08:13:25</td>
                        <td class="p-4 border-b">
                            <div class="w-max">
                                <div
                                    class="relative grid items-center font-bold uppercase whitespace-nowrap select-none bg-red-500/20 text-red-700 py-1 px-2 text-xs rounded-md"
                                >
                                    <span class="">INACTIVO</span>
                                </div>
                            </div>
                        </td>
                        <td class="p-4 border-b">
                            <div class="flex space-x-3">
                                <mat-slide-toggle
                                    [formControlName]="'active'"
                                    [color]="'primary'"
                                ></mat-slide-toggle>
                                <mat-icon>swap_horiz</mat-icon>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
